

:root {
    --brand-color: #ffffff;
    --hover-color: #2196F3;
    --additional-color: #757575;
    --title-color: #212121;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  li {
    margin: 0; 
  }
body {
    margin: 0px 0px 0px 0px;
    color: var(--additional-color);
    font-family: Roboto, sans-seri;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.conteiner {
 width: 1200px;
 margin: 0px auto;
 padding-left: 15px;
 padding-right: 15px;
}
.section-tittle {
font-weight: bold;
font-size: 36px;
line-height: 1.51;
letter-spacing: 0.03em;
color: var(--title-color);
}
/* top-line */

.top-line {
    border-bottom: 1px solid #ECECEC;
}
.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.logo-web {
   color: var(--hover-color);
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav__list {
    position: relative;
display: block;
padding-top: 32px;
padding-bottom: 32px;
}
.site-nav__list:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
}
.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* adress nav */
.adress-nav-block {
    padding: 93px;
}
.adress-nav {
    display: flex;
    margin-left: auto;
}
.adress-nav__list {
    padding-top: 32px;
    padding-bottom: 32px;
}
.adress-nav__list:not(:last-child) {
    margin-right: 30px;
}
.adress-nav__tel-icon {
    margin-right: 10px;
}
.adress-nav__mail-icon {
    margin-right: 10px;
}
.adress-nav__mail {
margin-left: 50px;
}
.main-nav {
    display: flex;
    align-items: center;
}


.adress-nav__link {
    font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color: var(--additional-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: var(--additional-color);

}
.adress-nav__link:hover ,
.adress-nav__link:focus {
    fill: var(--hover-color);
    color: var(--hover-color);
}

/* hero */

.section-hero {
    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/backgraund/img.jpg);
}
.section-hero__tittle {
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: var(--brand-color);
}
.section-hero__button {
 min-width: 200px;
height: 50px;    
background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
margin-top: 30px;
border: none;
border-radius: 4px;
}
.section-hero__button-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    
    align-items: center;
    letter-spacing: 0.06em;
    
    color: var(--brand-color);
}

/* quality */
.section-quality {
    padding-top: 94px;
}
.section-quality__list {
    display: flex;
}
.section-quality__item:not(:last-child) {
    margin-right: 30px;
}
.section-quality__svg {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
border-radius: 4px;
}
.section-quality__icon {
    margin-left: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.section-quality__tittle {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
margin-top: 30px;
}
.section-quality__description {
margin-top: 10px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--additional-color);
}

/* section-3 */

.section-what-doing {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-what-doing__list {
    margin-top: 50px;
    display: flex;
}
.section-what-doing__item:not(:last-child) {
    margin-right: 30px;
}
.section-what-doing__item {
    position: relative;
}
.section-what-doing .section-tittle {
    text-align: center;
}


/* comand */

.comand {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.comand__list {
    display: flex;
    margin-top: 50px;
}
.comand__list-cards {
    padding-top: 30px;
    padding-bottom: 30px;
}
.comand__cards:not(:last-child) {
    margin-right: 30px;
}
.comand .section-tittle {
    text-align: center;
}
.comand__name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-color);
text-align: center;
}
.comand__social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.comand__social-item:last-child {
margin-right: 0;
}
.comand__social-link {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comand__social-link:hover,
.comand__social-link:focus {
    background-color: var(--hover-color);
    
}
.comand__social-icon {
    fill: #AFB1B8;
}
.comand__social-link:hover .comand__social-icon,
.comand__social-link:focus .comand__social-icon {
    fill: #ffffff;
}
.comand__master-social {
    display: flex;
    justify-content: center;
}
.comand__cards {
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.comand__discription {
    font-family: Roboto;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--additional-color);
text-align: center;
margin-top: 10px;
margin-bottom: 16px;
}

/* footer */

footer .conteiner {
    display: flex;
    align-items: baseline;
}
.footer-join {
    margin-left: 70px;
}
.footer-join__discription {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
width: 145px;
height: 16px;
color: #FFFFFF;
}
.footer-join__social-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join__social-link:hover,
.footer-join__social-link:focus {
    background-color: var(--hover-color);
}
.footer-join__social-icon {
    fill: #ffffff;
}
.footer-join__social-link:hover .social-icon,
.footer-join__social-link:focus .social-icon {
    fill: #ffffff;
}
.footer-join__master-social {
    display: flex;
    justify-content: center;
}
.footer-join__social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}
footer ul {
    margin-top: 20px;
}
.footer-contact__item {
margin-top: 9px;
}
.logo-studio {
    color: var(--brand-color);
}
.footer-contact__link {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact__link-address {
font-size: 14px;
line-height: 1.71;
font-style: normal;
letter-spacing: 0.03em;
color: var(--brand-color);
}
.footer-form {
    margin-left: 93px;
}
.footer-form__send {
    display: flex;
}
.footer-form__button {
    margin-left: 12px;
    width: 200px;
    height: 50px;
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer-form-input::placeholder {
    letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.button-text {
    text-align: center;
    width: 109px;
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer-form__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--brand-color);
}
.footer-form__input:focus {
    border-color: var(--hover-color);
    outline: none;
}
.footer-form__discription {
    width: 219px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-form__svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #FFFFFF;
}

/* clients */

.clients__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.clients__item:not(:last-child) {
    margin-right: 30px;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon  {
    fill: var(--hover-color);
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--hover-color);
box-sizing: border-box;
border-radius: 4px;
}
.clients__icon {
    width: 106px;
    height: 60px;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 32px;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients h2 {
    display: flex;
    justify-content: center;
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* Page-2-portfolio */

/* Section-1 */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio__button-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-cards__name {
    padding: 20px 24px;
}
.portfolio-cards__box {
    margin: 30px 0px 0px 30px;
}
.portfolio-cards {
    display: flex;    
    flex-wrap: wrap;
    padding: 0;
    margin: -30px 0px 0px -30px;
}
.filters__item {
    margin-right: 8px;
}
.filters__button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding: 6px 22px;
    display: inline-block;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.filters__button:hover,
.filters__button:focus {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    cursor: pointer;
    border: none;
    background: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

/* box */
.portfolio-cards__box {
    position: relative;
    background: var(--brand-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards__tittle {
    font-family: Roboto;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-cards__content {
    font-family: Roboto;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--additional-color);
}
.portfolio-cards__thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-cards__discription {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__thumb:hover .portfolio-cards__discription,
.portfolio-cards__thumb:focus .portfolio-cards__discription {
    transform: translateY(0%);
}


/* backdrop  */


.product {
    position: relative;
}
.label {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 4px;
    left: 0px;
    background-color: rgba(47, 48, 58, 0.8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: #ffffff;
    padding: 27px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop__modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.backdrop__modal-close {
    width: 30px;
    height: 30px;
    margin-left: 490px;
    margin-top: 8px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    transition-timing-function: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__close-svg {
    fill: #000000;
    width: 11px;
    height: 11px;
    transition-timing-function: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal-close:focus .backdrop__close-svg,
.backdrop__modal-close:hover .backdrop__close-svg {
    fill: var(--hover-color);
    transition-timing-function: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    bottom: -1px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

/* modal-form */

.modal-form .svg-field {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}
.modal-form {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}
.modal-form__field {
    position: relative;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}
.modal-form__list:not(:last-child) {
    margin-bottom: 28px;
}
.modal-form__field-textarea {
    margin-bottom: 20px;
    margin-top: 10px;
}
.modal-form__field input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label {
position: absolute;
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--additional-color);
top: -15px;
}
.modal-form__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    margin-top: 4px;
}
.modal-form__textarea:focus {
    border-color: var(--hover-color);
    outline: none;
}
.modal-form__input:focus {
    border-color: var(--hover-color);
    outline: none;
}
.modal-form__input:focus ~ .svg-field {
    fill: var(--hover-color);
}
.modal-form__tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 30px;
}
.modal-form__checkbox {
    margin-bottom: 30px;
    align-self: center;
}
.modal-form__checkbox-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
.modal-form__checkbox-label::before {
    content: '';
    display: inline-block;
    margin-right: 9px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 3px;
    background-color: var(--brand-color);
    transition: border-color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}
.modal-form__checkbox-input:checked + .modal-form__checkbox-label::before {
    background-color: var(--hover-color);
    background-image: url(../img/form/checkbox.svg);
    background-position: center;
    background-size: 110%;
    border: 2px solid var(--hover-color);
    fill: var(--title-color);
}
.modal-form__checkbox-input {
    appearance: none;
}
.modal-form__link{
    text-decoration: underline;
    color: var(--hover-color);
    margin-top: 0px;
}
.modal-form__send {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-form__field-textarea .form-label {
width: 80px;
height: 14px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}
.modal-form__button-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--brand-color);
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    width: 200px;
    min-height: 50px;
    transition: background-color 250ms var(--transition-timing-func);
    cursor: pointer;
}